/*
$fontfam = .grid-item #thingstodo a h1

font-family: "Times New Roman", Times, serif;
*/

body {
    background-color: lightgrey;
    padding-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

#homepageh1{
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    color: #2b505d;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}

a {
    font-family: "Times New Roman", Times, serif;
    color: black;
    text-decoration: none;
}

img.center {
    width: 35%;
    display: block;
    margin: 0 auto;
}

.tblbrd td{
    border: 1px solid black;
    padding: 2px 2px;
    text-align: center;
}
.tableli{
    list-style-type:none;
    border-collapse: collapse;
    padding: 2px 2px;
    display: inline-block;
    text-align: center;
}

#ttd-div{
    width: 50%;
    background-color: lightgreen;
    margin: 50px 40px 30px 20px;
    padding: 5px;
}

#thingstodo{
    font-size: larger;
    font-family: "Times New Roman", Times, serif;
    color: mediumpurple;
}


#movieform input[type=text]{
    background-color: lightpink;
}

#movieform input[type=number]{
    background-color: lightgreen;
}
#movieform:hover input[type=number]{
    background-color: purple;
}

#grid{
    background-color: lightgreen;
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 200px 200px auto;
}

.grid-item{
    font-size: 20px;
    background-color: lightpink;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}


@media only screen and (max-width: 599px) {



    body {
        background-color: lightblue;
    }

    ul li {
        text-align: center;
        text-decoration: none;
    }

    ul{
        background-color: orangered;
        border-width:2px;
        padding: 20px;
    }

    #ttd-div {
        background-color: lightyellow;
        margin: 5px 4px 3px 2px;
        padding: 5px;
    }

    .grid-item{
        background-color: lightpink;
        font-size: 10px;
        display: grid;
        padding: 2px;
        grid-column-gap: 10px;
        grid-row-gap: 1px;
        grid-template-columns: auto auto auto;
    }

}